<div class="container py-14 py-md-16 text-center">
    <div class="row">
        <div class="col-md-9 col-lg-7 col-xl-7 mx-auto text-center">
            <img src="https://cdn2.iconfinder.com/data/icons/e-commerce-vol-1-2/512/16-512.png" style="height:100px;width:100px" class="svg-inject icon-svg icon-svg-md mb-1" alt="" />
            <h2 class="display-4 mb-3">We're Closed</h2>
            <p class="lead fs-lg mb-6 px-xl-10 px-xxl-15">We apologize for the inconvenience, but the supermarket is currently closed.</p>
        </div>
    </div>
</div>