@using SuperMarket.Models.ViewModels;
@model ProductVM

<form method="post" enctype="multipart/form-data" asp-action="Upsert">

    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.Categories" hidden />
    <input asp-for="Product.PictureUrl" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id == 0 ? "Create" : "Update") Product</h2>
        </div>

        <div class="mb-3">
            <label class="p-0">Categories</label>
            <div class="mt-3 mb-3">
                @foreach (var category in Model.CategoryList)
                {
                    var categoryId = category.Value;
                    var categoryName = category.Text;

                    bool isSelected = Model.SelectedCategories != null && Model.SelectedCategories.Contains(Convert.ToInt32(categoryId));

                    <div class="form-check">
                        <input type="checkbox" id="category_@categoryId" name="selectedCategories" value="@categoryId" class="form-check-input" @(isSelected ? "checked" : "") />
                        <label class="form-check-label" for="category_@categoryId">@categoryName</label>
                    </div>
                }
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Product.BarCode" class="p-0"></label>
            <input asp-for="Product.BarCode" type="text" class="form-control" />
            <span asp-validation-for="Product.BarCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Name" class="p-0"></label>
            <input asp-for="Product.Name" type="text" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" type="text" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="Product.Unit" class="p-0"></label>
            <input asp-for="Product.Unit" type="text" class="form-control" />
            <span asp-validation-for="Product.Unit" class="text-danger"></span>
        </div>  

        <div class="mb-3">
            <label asp-for="Product.InStock" class="p-0"></label>
            <input asp-for="Product.InStock" type="text" class="form-control" />
            <span asp-validation-for="Product.InStock" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.IsActive" class="p-0"></label>
            <select asp-for="Product.IsActive" class="form-select">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <span asp-validation-for="Product.IsActive" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.PictureUrl" class="p-0"></label>
            <input id="uploadBox" name="file" type="file" class="form-control" />
            <span asp-validation-for="Product.PictureUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Return to list</a>

    </div>

</form>
