@using System.Globalization;
@using SuperMarket.Models;
@model IEnumerable<Product>



<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <div>
        <h1> Welcome to Pepe's Supermarket'</h1>

    </div>

</body>
</html>

