<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                List of orders
            </h2>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Actions</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}