@model Store

<div class="container">
    <div class="row pt-4">
        <div class="container py-14 py-md-16">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="row pb-2">
                        <h2 class="text-primary">Supermarket state</h2>
                    </div>
                    <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" style="background-image: url('https://images.unsplash.com/photo-1633259584604-afdc243122ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The supermarket is currently @(Model.IsOpen == 0 ? "closed" : "open")</h2>
                            @if (Model.IsOpen == 0)
                            {
                                <button class="btn btn-lg btn-primary" type="button" onclick="location.href='@Url.Action("OpenSuperMarket", "Store")'">Open Supermarket</button>
                            }
                            else
                            {
                                <button class="btn btn-lg btn-primary" type="button" onclick="location.href='@Url.Action("CloseSuperMarket", "Store")'">Close Supermarket</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
